.mynav{
    background : #ce1212;
}
.mynav a{
    color: black;
}
.active{
    padding-bottom: 0px;
    border-bottom: 4px solid black;
    font-weight: bold;
}
.f-search{
    border: none;
}
.f-search::placeholder{
    text-align: center;
}